// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-down-blue-name: 'arrow-down-blue';
$arrow-down-blue-x: 205px;
$arrow-down-blue-y: 168px;
$arrow-down-blue-offset-x: -205px;
$arrow-down-blue-offset-y: -168px;
$arrow-down-blue-width: 9px;
$arrow-down-blue-height: 5px;
$arrow-down-blue-total-width: 280px;
$arrow-down-blue-total-height: 277px;
$arrow-down-blue-image: '../images/sprite.png';
$arrow-down-blue: (205px, 168px, -205px, -168px, 9px, 5px, 280px, 277px, '../images/sprite.png', 'arrow-down-blue', );
$arrow-down-name: 'arrow-down';
$arrow-down-x: 219px;
$arrow-down-y: 168px;
$arrow-down-offset-x: -219px;
$arrow-down-offset-y: -168px;
$arrow-down-width: 9px;
$arrow-down-height: 5px;
$arrow-down-total-width: 280px;
$arrow-down-total-height: 277px;
$arrow-down-image: '../images/sprite.png';
$arrow-down: (219px, 168px, -219px, -168px, 9px, 5px, 280px, 277px, '../images/sprite.png', 'arrow-down', );
$arrow-left-name: 'arrow-left';
$arrow-left-x: 186px;
$arrow-left-y: 147px;
$arrow-left-offset-x: -186px;
$arrow-left-offset-y: -147px;
$arrow-left-width: 8px;
$arrow-left-height: 15px;
$arrow-left-total-width: 280px;
$arrow-left-total-height: 277px;
$arrow-left-image: '../images/sprite.png';
$arrow-left: (186px, 147px, -186px, -147px, 8px, 15px, 280px, 277px, '../images/sprite.png', 'arrow-left', );
$arrow-right-black-name: 'arrow-right-black';
$arrow-right-black-x: 270px;
$arrow-right-black-y: 207px;
$arrow-right-black-offset-x: -270px;
$arrow-right-black-offset-y: -207px;
$arrow-right-black-width: 8px;
$arrow-right-black-height: 15px;
$arrow-right-black-total-width: 280px;
$arrow-right-black-total-height: 277px;
$arrow-right-black-image: '../images/sprite.png';
$arrow-right-black: (270px, 207px, -270px, -207px, 8px, 15px, 280px, 277px, '../images/sprite.png', 'arrow-right-black', );
$arrow-right-blue-name: 'arrow-right-blue';
$arrow-right-blue-x: 183px;
$arrow-right-blue-y: 86px;
$arrow-right-blue-offset-x: -183px;
$arrow-right-blue-offset-y: -86px;
$arrow-right-blue-width: 5px;
$arrow-right-blue-height: 9px;
$arrow-right-blue-total-width: 280px;
$arrow-right-blue-total-height: 277px;
$arrow-right-blue-image: '../images/sprite.png';
$arrow-right-blue: (183px, 86px, -183px, -86px, 5px, 9px, 280px, 277px, '../images/sprite.png', 'arrow-right-blue', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 193px;
$arrow-right-y: 86px;
$arrow-right-offset-x: -193px;
$arrow-right-offset-y: -86px;
$arrow-right-width: 5px;
$arrow-right-height: 9px;
$arrow-right-total-width: 280px;
$arrow-right-total-height: 277px;
$arrow-right-image: '../images/sprite.png';
$arrow-right: (193px, 86px, -193px, -86px, 5px, 9px, 280px, 277px, '../images/sprite.png', 'arrow-right', );
$bell-name: 'bell';
$bell-x: 0px;
$bell-y: 261px;
$bell-offset-x: 0px;
$bell-offset-y: -261px;
$bell-width: 15px;
$bell-height: 16px;
$bell-total-width: 280px;
$bell-total-height: 277px;
$bell-image: '../images/sprite.png';
$bell: (0px, 261px, 0px, -261px, 15px, 16px, 280px, 277px, '../images/sprite.png', 'bell', );
$burger-name: 'burger';
$burger-x: 69px;
$burger-y: 232px;
$burger-offset-x: -69px;
$burger-offset-y: -232px;
$burger-width: 16px;
$burger-height: 14px;
$burger-total-width: 280px;
$burger-total-height: 277px;
$burger-image: '../images/sprite.png';
$burger: (69px, 232px, -69px, -232px, 16px, 14px, 280px, 277px, '../images/sprite.png', 'burger', );
$call-name: 'call';
$call-x: 248px;
$call-y: 207px;
$call-offset-x: -248px;
$call-offset-y: -207px;
$call-width: 17px;
$call-height: 17px;
$call-total-width: 280px;
$call-total-height: 277px;
$call-image: '../images/sprite.png';
$call: (248px, 207px, -248px, -207px, 17px, 17px, 280px, 277px, '../images/sprite.png', 'call', );
$car-name: 'car';
$car-x: 45px;
$car-y: 186px;
$car-offset-x: -45px;
$car-offset-y: -186px;
$car-width: 51px;
$car-height: 29px;
$car-total-width: 280px;
$car-total-height: 277px;
$car-image: '../images/sprite.png';
$car: (45px, 186px, -45px, -186px, 51px, 29px, 280px, 277px, '../images/sprite.png', 'car', );
$castle-blue-name: 'castle-blue';
$castle-blue-x: 24px;
$castle-blue-y: 232px;
$castle-blue-offset-x: -24px;
$castle-blue-offset-y: -232px;
$castle-blue-width: 19px;
$castle-blue-height: 24px;
$castle-blue-total-width: 280px;
$castle-blue-total-height: 277px;
$castle-blue-image: '../images/sprite.png';
$castle-blue: (24px, 232px, -24px, -232px, 19px, 24px, 280px, 277px, '../images/sprite.png', 'castle-blue', );
$castle-name: 'castle';
$castle-x: 0px;
$castle-y: 232px;
$castle-offset-x: 0px;
$castle-offset-y: -232px;
$castle-width: 19px;
$castle-height: 24px;
$castle-total-width: 280px;
$castle-total-height: 277px;
$castle-image: '../images/sprite.png';
$castle: (0px, 232px, 0px, -232px, 19px, 24px, 280px, 277px, '../images/sprite.png', 'castle', );
$checked-blue-name: 'checked-blue';
$checked-blue-x: 48px;
$checked-blue-y: 232px;
$checked-blue-offset-x: -48px;
$checked-blue-offset-y: -232px;
$checked-blue-width: 16px;
$checked-blue-height: 15px;
$checked-blue-total-width: 280px;
$checked-blue-total-height: 277px;
$checked-blue-image: '../images/sprite.png';
$checked-blue: (48px, 232px, -48px, -232px, 16px, 15px, 280px, 277px, '../images/sprite.png', 'checked-blue', );
$checked-green-name: 'checked-green';
$checked-green-x: 248px;
$checked-green-y: 74px;
$checked-green-offset-x: -248px;
$checked-green-offset-y: -74px;
$checked-green-width: 30px;
$checked-green-height: 24px;
$checked-green-total-width: 280px;
$checked-green-total-height: 277px;
$checked-green-image: '../images/sprite.png';
$checked-green: (248px, 74px, -248px, -74px, 30px, 24px, 280px, 277px, '../images/sprite.png', 'checked-green', );
$clock-name: 'clock';
$clock-x: 183px;
$clock-y: 43px;
$clock-offset-x: -183px;
$clock-offset-y: -43px;
$clock-width: 17px;
$clock-height: 17px;
$clock-total-width: 280px;
$clock-total-height: 277px;
$clock-image: '../images/sprite.png';
$clock: (183px, 43px, -183px, -43px, 17px, 17px, 280px, 277px, '../images/sprite.png', 'clock', );
$close-blue-name: 'close-blue';
$close-blue-x: 128px;
$close-blue-y: 186px;
$close-blue-offset-x: -128px;
$close-blue-offset-y: -186px;
$close-blue-width: 23px;
$close-blue-height: 21px;
$close-blue-total-width: 280px;
$close-blue-total-height: 277px;
$close-blue-image: '../images/sprite.png';
$close-blue: (128px, 186px, -128px, -186px, 23px, 21px, 280px, 277px, '../images/sprite.png', 'close-blue', );
$close-name: 'close';
$close-x: 156px;
$close-y: 186px;
$close-offset-x: -156px;
$close-offset-y: -186px;
$close-width: 23px;
$close-height: 21px;
$close-total-width: 280px;
$close-total-height: 277px;
$close-image: '../images/sprite.png';
$close: (156px, 186px, -156px, -186px, 23px, 21px, 280px, 277px, '../images/sprite.png', 'close', );
$doc-gray-name: 'doc-gray';
$doc-gray-x: 227px;
$doc-gray-y: 186px;
$doc-gray-offset-x: -227px;
$doc-gray-offset-y: -186px;
$doc-gray-width: 16px;
$doc-gray-height: 15px;
$doc-gray-total-width: 280px;
$doc-gray-total-height: 277px;
$doc-gray-image: '../images/sprite.png';
$doc-gray: (227px, 186px, -227px, -186px, 16px, 15px, 280px, 277px, '../images/sprite.png', 'doc-gray', );
$doc-name: 'doc';
$doc-x: 124px;
$doc-y: 43px;
$doc-offset-x: -124px;
$doc-offset-y: -43px;
$doc-width: 54px;
$doc-height: 54px;
$doc-total-width: 280px;
$doc-total-height: 277px;
$doc-image: '../images/sprite.png';
$doc: (124px, 43px, -124px, -43px, 54px, 54px, 280px, 277px, '../images/sprite.png', 'doc', );
$doc3-name: 'doc3';
$doc3-x: 101px;
$doc3-y: 186px;
$doc3-offset-x: -101px;
$doc3-offset-y: -186px;
$doc3-width: 22px;
$doc3-height: 22px;
$doc3-total-width: 280px;
$doc3-total-height: 277px;
$doc3-image: '../images/sprite.png';
$doc3: (101px, 186px, -101px, -186px, 22px, 22px, 280px, 277px, '../images/sprite.png', 'doc3', );
$eye-blue-name: 'eye-blue';
$eye-blue-x: 248px;
$eye-blue-y: 183px;
$eye-blue-offset-x: -248px;
$eye-blue-offset-y: -183px;
$eye-blue-width: 27px;
$eye-blue-height: 19px;
$eye-blue-total-width: 280px;
$eye-blue-total-height: 277px;
$eye-blue-image: '../images/sprite.png';
$eye-blue: (248px, 183px, -248px, -183px, 27px, 19px, 280px, 277px, '../images/sprite.png', 'eye-blue', );
$eye-name: 'eye';
$eye-x: 248px;
$eye-y: 159px;
$eye-offset-x: -248px;
$eye-offset-y: -159px;
$eye-width: 27px;
$eye-height: 19px;
$eye-total-width: 280px;
$eye-total-height: 277px;
$eye-image: '../images/sprite.png';
$eye: (248px, 159px, -248px, -159px, 27px, 19px, 280px, 277px, '../images/sprite.png', 'eye', );
$glasses-name: 'glasses';
$glasses-x: 124px;
$glasses-y: 0px;
$glasses-offset-x: -124px;
$glasses-offset-y: 0px;
$glasses-width: 76px;
$glasses-height: 38px;
$glasses-total-width: 280px;
$glasses-total-height: 277px;
$glasses-image: '../images/sprite.png';
$glasses: (124px, 0px, -124px, 0px, 76px, 38px, 280px, 277px, '../images/sprite.png', 'glasses', );
$house-blue-small-name: 'house-blue-small';
$house-blue-small-x: 248px;
$house-blue-small-y: 0px;
$house-blue-small-offset-x: -248px;
$house-blue-small-offset-y: 0px;
$house-blue-small-width: 32px;
$house-blue-small-height: 32px;
$house-blue-small-total-width: 280px;
$house-blue-small-total-height: 277px;
$house-blue-small-image: '../images/sprite.png';
$house-blue-small: (248px, 0px, -248px, 0px, 32px, 32px, 280px, 277px, '../images/sprite.png', 'house-blue-small', );
$house-gray-small-name: 'house-gray-small';
$house-gray-small-x: 248px;
$house-gray-small-y: 37px;
$house-gray-small-offset-x: -248px;
$house-gray-small-offset-y: -37px;
$house-gray-small-width: 32px;
$house-gray-small-height: 32px;
$house-gray-small-total-width: 280px;
$house-gray-small-total-height: 277px;
$house-gray-small-image: '../images/sprite.png';
$house-gray-small: (248px, 37px, -248px, -37px, 32px, 32px, 280px, 277px, '../images/sprite.png', 'house-gray-small', );
$house-name: 'house';
$house-x: 0px;
$house-y: 0px;
$house-offset-x: 0px;
$house-offset-y: 0px;
$house-width: 57px;
$house-height: 57px;
$house-total-width: 280px;
$house-total-height: 277px;
$house-image: '../images/sprite.png';
$house: (0px, 0px, 0px, 0px, 57px, 57px, 280px, 277px, '../images/sprite.png', 'house', );
$inst-3-name: 'inst-3';
$inst-3-x: 61px;
$inst-3-y: 62px;
$inst-3-offset-x: -61px;
$inst-3-offset-y: -62px;
$inst-3-width: 53px;
$inst-3-height: 55px;
$inst-3-total-width: 280px;
$inst-3-total-height: 277px;
$inst-3-image: '../images/sprite.png';
$inst-3: (61px, 62px, -61px, -62px, 53px, 55px, 280px, 277px, '../images/sprite.png', 'inst-3', );
$like-name: 'like';
$like-x: 205px;
$like-y: 49px;
$like-offset-x: -205px;
$like-offset-y: -49px;
$like-width: 37px;
$like-height: 38px;
$like-total-width: 280px;
$like-total-height: 277px;
$like-image: '../images/sprite.png';
$like: (205px, 49px, -205px, -49px, 37px, 38px, 280px, 277px, '../images/sprite.png', 'like', );
$marker-name: 'marker';
$marker-x: 0px;
$marker-y: 125px;
$marker-offset-x: 0px;
$marker-offset-y: -125px;
$marker-width: 44px;
$marker-height: 56px;
$marker-total-width: 280px;
$marker-total-height: 277px;
$marker-image: '../images/sprite.png';
$marker: (0px, 125px, 0px, -125px, 44px, 56px, 280px, 277px, '../images/sprite.png', 'marker', );
$object-small-blue-name: 'object-small-blue';
$object-small-blue-x: 49px;
$object-small-blue-y: 125px;
$object-small-blue-offset-x: -49px;
$object-small-blue-offset-y: -125px;
$object-small-blue-width: 41px;
$object-small-blue-height: 41px;
$object-small-blue-total-width: 280px;
$object-small-blue-total-height: 277px;
$object-small-blue-image: '../images/sprite.png';
$object-small-blue: (49px, 125px, -49px, -125px, 41px, 41px, 280px, 277px, '../images/sprite.png', 'object-small-blue', );
$object-small-name: 'object-small';
$object-small-x: 95px;
$object-small-y: 125px;
$object-small-offset-x: -95px;
$object-small-offset-y: -125px;
$object-small-width: 41px;
$object-small-height: 41px;
$object-small-total-width: 280px;
$object-small-total-height: 277px;
$object-small-image: '../images/sprite.png';
$object-small: (95px, 125px, -95px, -125px, 41px, 41px, 280px, 277px, '../images/sprite.png', 'object-small', );
$object-name: 'object';
$object-x: 62px;
$object-y: 0px;
$object-offset-x: -62px;
$object-offset-y: 0px;
$object-width: 57px;
$object-height: 57px;
$object-total-width: 280px;
$object-total-height: 277px;
$object-image: '../images/sprite.png';
$object: (62px, 0px, -62px, 0px, 57px, 57px, 280px, 277px, '../images/sprite.png', 'object', );
$phone-blue-name: 'phone-blue';
$phone-blue-x: 124px;
$phone-blue-y: 102px;
$phone-blue-offset-x: -124px;
$phone-blue-offset-y: -102px;
$phone-blue-width: 16px;
$phone-blue-height: 16px;
$phone-blue-total-width: 280px;
$phone-blue-total-height: 277px;
$phone-blue-image: '../images/sprite.png';
$phone-blue: (124px, 102px, -124px, -102px, 16px, 16px, 280px, 277px, '../images/sprite.png', 'phone-blue', );
$phone-dark-name: 'phone-dark';
$phone-dark-x: 145px;
$phone-dark-y: 102px;
$phone-dark-offset-x: -145px;
$phone-dark-offset-y: -102px;
$phone-dark-width: 16px;
$phone-dark-height: 16px;
$phone-dark-total-width: 280px;
$phone-dark-total-height: 277px;
$phone-dark-image: '../images/sprite.png';
$phone-dark: (145px, 102px, -145px, -102px, 16px, 16px, 280px, 277px, '../images/sprite.png', 'phone-dark', );
$phone-white-name: 'phone-white';
$phone-white-x: 166px;
$phone-white-y: 102px;
$phone-white-offset-x: -166px;
$phone-white-offset-y: -102px;
$phone-white-width: 16px;
$phone-white-height: 16px;
$phone-white-total-width: 280px;
$phone-white-total-height: 277px;
$phone-white-image: '../images/sprite.png';
$phone-white: (166px, 102px, -166px, -102px, 16px, 16px, 280px, 277px, '../images/sprite.png', 'phone-white', );
$place-name: 'place';
$place-x: 187px;
$place-y: 102px;
$place-offset-x: -187px;
$place-offset-y: -102px;
$place-width: 13px;
$place-height: 16px;
$place-total-width: 280px;
$place-total-height: 277px;
$place-image: '../images/sprite.png';
$place: (187px, 102px, -187px, -102px, 13px, 16px, 280px, 277px, '../images/sprite.png', 'place', );
$place2-name: 'place2';
$place2-x: 184px;
$place2-y: 186px;
$place2-offset-x: -184px;
$place2-offset-y: -186px;
$place2-width: 16px;
$place2-height: 16px;
$place2-total-width: 280px;
$place2-total-height: 277px;
$place2-image: '../images/sprite.png';
$place2: (184px, 186px, -184px, -186px, 16px, 16px, 280px, 277px, '../images/sprite.png', 'place2', );
$profile-ava-name: 'profile-ava';
$profile-ava-x: 205px;
$profile-ava-y: 0px;
$profile-ava-offset-x: -205px;
$profile-ava-offset-y: 0px;
$profile-ava-width: 38px;
$profile-ava-height: 44px;
$profile-ava-total-width: 280px;
$profile-ava-total-height: 277px;
$profile-ava-image: '../images/sprite.png';
$profile-ava: (205px, 0px, -205px, 0px, 38px, 44px, 280px, 277px, '../images/sprite.png', 'profile-ava', );
$purse-name: 'purse';
$purse-x: 183px;
$purse-y: 65px;
$purse-offset-x: -183px;
$purse-offset-y: -65px;
$purse-width: 17px;
$purse-height: 16px;
$purse-total-width: 280px;
$purse-total-height: 277px;
$purse-image: '../images/sprite.png';
$purse: (183px, 65px, -183px, -65px, 17px, 16px, 280px, 277px, '../images/sprite.png', 'purse', );
$setting-blue-small-name: 'setting-blue-small';
$setting-blue-small-x: 205px;
$setting-blue-small-y: 130px;
$setting-blue-small-offset-x: -205px;
$setting-blue-small-offset-y: -130px;
$setting-blue-small-width: 32px;
$setting-blue-small-height: 33px;
$setting-blue-small-total-width: 280px;
$setting-blue-small-total-height: 277px;
$setting-blue-small-image: '../images/sprite.png';
$setting-blue-small: (205px, 130px, -205px, -130px, 32px, 33px, 280px, 277px, '../images/sprite.png', 'setting-blue-small', );
$setting-gray-small-name: 'setting-gray-small';
$setting-gray-small-x: 205px;
$setting-gray-small-y: 92px;
$setting-gray-small-offset-x: -205px;
$setting-gray-small-offset-y: -92px;
$setting-gray-small-width: 32px;
$setting-gray-small-height: 33px;
$setting-gray-small-total-width: 280px;
$setting-gray-small-total-height: 277px;
$setting-gray-small-image: '../images/sprite.png';
$setting-gray-small: (205px, 92px, -205px, -92px, 32px, 33px, 280px, 277px, '../images/sprite.png', 'setting-gray-small', );
$setting-small-gray-name: 'setting-small-gray';
$setting-small-gray-x: 141px;
$setting-small-gray-y: 125px;
$setting-small-gray-offset-x: -141px;
$setting-small-gray-offset-y: -125px;
$setting-small-gray-width: 40px;
$setting-small-gray-height: 41px;
$setting-small-gray-total-width: 280px;
$setting-small-gray-total-height: 277px;
$setting-small-gray-image: '../images/sprite.png';
$setting-small-gray: (141px, 125px, -141px, -125px, 40px, 41px, 280px, 277px, '../images/sprite.png', 'setting-small-gray', );
$setting-small-name: 'setting-small';
$setting-small-x: 0px;
$setting-small-y: 186px;
$setting-small-offset-x: 0px;
$setting-small-offset-y: -186px;
$setting-small-width: 40px;
$setting-small-height: 41px;
$setting-small-total-width: 280px;
$setting-small-total-height: 277px;
$setting-small-image: '../images/sprite.png';
$setting-small: (0px, 186px, 0px, -186px, 40px, 41px, 280px, 277px, '../images/sprite.png', 'setting-small', );
$setting-name: 'setting';
$setting-x: 0px;
$setting-y: 62px;
$setting-offset-x: 0px;
$setting-offset-y: -62px;
$setting-width: 56px;
$setting-height: 58px;
$setting-total-width: 280px;
$setting-total-height: 277px;
$setting-image: '../images/sprite.png';
$setting: (0px, 62px, 0px, -62px, 56px, 58px, 280px, 277px, '../images/sprite.png', 'setting', );
$status-name: 'status';
$status-x: 186px;
$status-y: 125px;
$status-offset-x: -186px;
$status-offset-y: -125px;
$status-width: 12px;
$status-height: 17px;
$status-total-width: 280px;
$status-total-height: 277px;
$status-image: '../images/sprite.png';
$status: (186px, 125px, -186px, -125px, 12px, 17px, 280px, 277px, '../images/sprite.png', 'status', );
$user-black-name: 'user-black';
$user-black-x: 248px;
$user-black-y: 131px;
$user-black-offset-x: -248px;
$user-black-offset-y: -131px;
$user-black-width: 26px;
$user-black-height: 23px;
$user-black-total-width: 280px;
$user-black-total-height: 277px;
$user-black-image: '../images/sprite.png';
$user-black: (248px, 131px, -248px, -131px, 26px, 23px, 280px, 277px, '../images/sprite.png', 'user-black', );
$user-blue-name: 'user-blue';
$user-blue-x: 248px;
$user-blue-y: 103px;
$user-blue-offset-x: -248px;
$user-blue-offset-y: -103px;
$user-blue-width: 26px;
$user-blue-height: 23px;
$user-blue-total-width: 280px;
$user-blue-total-height: 277px;
$user-blue-image: '../images/sprite.png';
$user-blue: (248px, 103px, -248px, -103px, 26px, 23px, 280px, 277px, '../images/sprite.png', 'user-blue', );
$user-name: 'user';
$user-x: 205px;
$user-y: 186px;
$user-offset-x: -205px;
$user-offset-y: -186px;
$user-width: 17px;
$user-height: 15px;
$user-total-width: 280px;
$user-total-height: 277px;
$user-image: '../images/sprite.png';
$user: (205px, 186px, -205px, -186px, 17px, 15px, 280px, 277px, '../images/sprite.png', 'user', );
$spritesheet-width: 280px;
$spritesheet-height: 277px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-down-blue, $arrow-down, $arrow-left, $arrow-right-black, $arrow-right-blue, $arrow-right, $bell, $burger, $call, $car, $castle-blue, $castle, $checked-blue, $checked-green, $clock, $close-blue, $close, $doc-gray, $doc, $doc3, $eye-blue, $eye, $glasses, $house-blue-small, $house-gray-small, $house, $inst-3, $like, $marker, $object-small-blue, $object-small, $object, $phone-blue, $phone-dark, $phone-white, $place, $place2, $profile-ava, $purse, $setting-blue-small, $setting-gray-small, $setting-small-gray, $setting-small, $setting, $status, $user-black, $user-blue, $user, );
$spritesheet: (280px, 277px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
