//start bottom-nav
section.bottom-nav
  .wrapper
    .head-border.text-center
      h3.title Es lohnt sich!
      div.sub-title Effiziente Bautrocknung in vier Schritten
    .row
      .column
        .box
          .ttl.bold Produkte
          nav
            +listLink('Klimageräte','Luftentfeuchter','Wäschetrockner','Luftbefeuchter')
      .column
        .box
          .ttl.bold Wissen
          nav
            +listLink('Grundlagen Klima', 'Grundlagen Trocknung', 'Grundlagen Waschküchen', 'Tipps und Tricks')
      .column
        .box
          .ttl.bold Dienstleistungen
          nav
            +listLink('Montage Klimageräte','Bautrocknungen/ Gerätemiete','Montage Wäschetrockner/ Waschküchen')
//end bottom-nav
