.control-box
  .row
    .column.left
      .block
        .icon-block
          i.icon.icon_burger
        .ttl.bold Auftragsnummer
        .number.bold 20180227
    .column.left.status-wrap
      .row
        .column.left
          .block
            .icon-block
              i.icon.icon_status
            .ttl.bold.blue Status
            |Offerte wurde erstellt
        .column.left
          .btn-wrap
            .column.left
              a(href="#").btn.btn-full.btn-green Bestellen
            .column.left
              a(href="#").btn.btn-full.btn-white Able
  .row
    .column.left
      .block
        .icon-block
          i.icon.icon_place
        .ttl.bold Standort des Objektes
        |Anz. Geräte: 3(MFH)
        |                Ули 1
        |  5646 Abtwil AG
    .column.left
      .block
        .icon-block
          i.icon.icon_place
        .ttl.bold Montage Termin
        | 08.01.2018
    .column.left
      .block
        .icon-block
          i.icon.icon_clock
        .ttl.bold Zahlungsdatum
        | 08.01.2018
  .row
    .column.left
      .block
        .icon-block
          i.icon.icon_place2
        .ttl.bold Rechnungsadresse
        |Yuriy Karnaukhov
        |Bielstrasse 150
        |6010 Kriens
    .column.left
      .block
        .icon-block
          i.icon.icon_doc-gray
        .ttl.bold Auftragsdokumenten
        span.doc-box.text-center
          .icon-wrap
            i.icon.icon_doc3
          |Offerte
        span.doc-box.text-center
          .icon-wrap
            i.icon.icon_doc3
          |Rechnungen
    .column.left
      .block
        .icon-block
          i.icon.icon_purse
        .ttl.bold Betrag CHF
        .sum.bold.blue 2 981.00