// start footer
.footer-empty
footer.white
  .footer-top
    .wrapper
      .row
        .column.left
          .ttl.bold XerTec Bautrocknung
          nav
            +listLink('Kontakt','Verfügbare Postleitzahlen','Online-shop Trocknungsgerate')

        .column.right
          .ttl.bold Unsere Kontaktdaten
          .contacts
            address Hochrainstrasse 17
            |6010 Kriens / LU
            .phone
              a(href="tel:+41413120101") +41 41 312 01 01
  .footer-bottom.text-center
    .wrapper
      .copyright © 2018 XerTec
      nav
        +listLink('Impressum','Datenschutzerklärung','AGB')
// end footer