// start header
header
  .wrapper
    a(href="#header-nav").burger.hidden-tablet
      span
    a(href="/").logo.left
      img(src="images/logo-white.png", alt="Bautrocknung" title="Bautrocknung")
    a(href="#").head-lnk.right.hidden-tablet
      span Ресурс
    .account-block.right
      a(href="#popup-login", data-fancybox).btn.bold
        i.icon.icon_user
        span Einloggen
    a(href="tel:+41413120101").support.right
      span.icon-wrap
        i.icon.icon_phone-white
      .phone
        div +41 41 312 01 01
    .header-nav#header-nav.top-nav.right
      nav.menu
        ul
          li.hidden-dtablet
            a(href="#")
              span Ресурс
          li
            a(href="#")
               span Online-shop
// end header

