.user-sidebar
  .user-info
    .tbl.tbl-fixed
      .tbc.tbc-ava
        .ava
      .tbc
        .username Евгений Панчук
        .usernphone.bold +41792511522
  nav
    ul
      li.active
        a(href="#")
          .icon-wrap
            i.icon.icon_eye
          |Meine Trocknungen
      li
        a(href="#")
          .icon-wrap
            i.icon.icon_user-black
          | Profil Bearbeiten
      li
        a(href="#")
          .icon-wrap
            i.icon.icon_castle
          | Ausslogen
