.control-container {
  padding: 25px 30px;
  background: $blueSuperLight;
  @include mq('tablet-wide') {
    margin-bottom: 10px;
  }
  @include mq('tablet') {
    padding: 15px;
  }
  .title {
    margin-bottom: 18px;
    .left {
      @include mq('tablet', min) {
        margin-top: 12.5px;
      }
    }
    @include mq('tablet') {
      .left,
      .right {
        float: none;
        .btn {
          width: 100%;
          display: block;
        }
      }
      .left {
        margin-bottom: 15px;
      }
    }
  }
  .control-box {
    font-size: 14px;
    line-height: 22px;
    padding: 15px 10px 10px;
    background: #FFF;
    margin-bottom: 15px;
    .sum {
      font-size: 24px;
      line-height: 27px;
    }
    >.row {
      .column {
        width: 100%;
        padding: 12px 15px;
        @include mq('tablet') {
          padding: 5px 15px;

        }
        @include mq('tablet', min) {
          width: 100/3+%;
          &.status-wrap {
            width: 100 - (100/3) +%;
            >.row {
              margin-right: 0;
              margin-top: -15px;

            }
            .column {
              width: 50%;
            }
          }
        }

        .block {
          padding-left: 35px;
          position: relative;
          .icon-block {
            position: absolute;
            top: 4px;
            left: 5px;
            text-align: center;
            width: 17px;
            height: 17px;
            line-height: 17px;
            .icon {
              vertical-align: middle;
            }
          }
          .number {
            font-size: 24px;
            line-height: 27px;
          }
        }
      }
    }
    .ttl {
      margin-bottom: 5px;
    }
    .status-wrap {
      .row {
        background: $blueSuperLight;
      }
      >.row {
        @include mq('tablet') {
          >.column {
            padding: 15px 10px;
            &+.column {
              padding-top: 0;
            }
          }
        }
      }
      .ttl {
        font-size: 18px;
        line-height: 22px;
      }
      .btn-wrap {
        margin: 0 -3px;
        .column {
          width: 50%;
          padding: 0 3px;
          .btn {
            padding-left: 5px;
            padding-right: 5px;
          }
        }
      }
    }
  }
  .doc-box {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    @include mq('desktop') {
      margin-right: 5px;

    }
  }
}